* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: -apple-system,"BlinkMacSystemFont","Helvetica Neue","Segoe UI",sans-serif;
  font-variant-ligatures: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  height: auto;
}
